body {
    background-color: #ffffff;
    font-family: "Sarabun", sans-serif;
    color: #071c4d;
}

// Navbar
.navbar-brand {
    img {
        max-height: 50px;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #071c4d;
            //color: #fff;
            &:hover {
                color: #071c4d;
                font-weight: 600;
            }
            &.active {
                font-weight: bolder;
                color: #071c4d !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -9px !important;
    margin-bottom: -8px !important;
    margin-right: -16px !important;
    height: 80px;
    border-radius: 0;
}

.btn-login {
    background-color: #071c4d;
    //background-color: #fff;
    color: #fff;
    //color: #071C4D;
    &:hover {
        background-color: #1b239e;
        color: #fff;
        //background-color: #fff;
        //color: #071C4D;
    }
}

// Header
header {
    padding: 180px 0 200px;
    margin-top: -80px;
    background-image: url("../images/h3.jpg");
    background-size: cover;
    h1,
    p {
        //color: #fff;
        color: #071c4d;
    }
    h1 {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: bold;
        font-size: 50px;
    }
    p {
        font-size: 22px;
    }
    .btn-get-started {
        background-color: orangered;
        color: #fff;
        &:hover {
            background-color: rgb(255, 91, 31);
            color: #fff;
        }
    }
}

//Statistic
.section-stats {
    margin-top: -50px;
    .stats-detail {
        padding-top: 15px;
        background: #fff;
        padding-left: 40px;
    }
    h2 {
        font-size: 30px;
        margin-bottom: 0;
    }
    p {
        font-size: 20px;
        font-weight: lighter;
    }
}

//Popular
.section-popular {
    min-height: 575px;
    background-color: #030958;
    margin-top: -50px;
    margin-bottom: -250px;
    .section-popular-heading {
        margin-top: 110px;
        h2,
        p {
            color: #fff;
        }
        h2 {
            font-family: "Source Sans Pro", sans-serif;
            font-weight: bold;
            font-size: 50px;
        }
        p {
            font-size: 18px;
            font-weight: lighter;
        }
    }
}

.section-popular-content {
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #000;
            color: #fff;
            background-size: cover;
            padding: 30px;
            margin-bottom: 20px;
            .travel-country {
                font-size: 16px;
                color: #fff;
            }
            .travel-location {
                font-size: 25px;
                font-weight: 200;
                color: #fff;
            }
            .travel-btn {
                .btn-travel-details {
                    background-color: orangered;
                    color: #fff;
                    &:hover {
                        background-color: rgb(255, 91, 31);
                        color: #fff;
                    }
                }
            }
        }
    }
}

//Partner\Networks
.section-networks {
    background-color: #fff;
    margin-top: -150px;
    padding-top: 215px;
    padding-bottom: 50px;
    h2 {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        font-size: 16px;
    }
    img {
        max-width: 100%;
    }
}

.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 500px;
    h2,
    p {
        color: #071c4d;
    }
    h2 {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: bold;
        font-size: 40px;
    }
    p {
        font-size: 18px;
        font-weight: lighter;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;
    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        .testimonial-content {
            min-height: 380px;
        }
        h3 {
            font-size: 20px;
        }
        .testimonial {
            font-weight: 200;
            font-size: 20px;
            color: #6e6e6e;
        }
        .trip-to {
            font-weight: normal;
            font-size: 20px;
            color: #6e6e6e;
        }
        hr {
            margin-left: -20px;
            margin-right: -20px;
        }
    }
    .btn-get-started {
        background-color: orangered;
        color: #fff;
        &:hover {
            background-color: rgb(255, 91, 31);
            color: #fff;
        }
    }
    .btn-need-help {
        background-color: rgb(65, 65, 65);
        color: rgb(255, 255, 255);
        &:hover {
            background-color: rgb(122, 122, 122);
            color: rgb(255, 255, 255);
        }
    }
}

.section-footer {
    a {
        color: #071c4d;
        text-decoration: none;
    }
}

.section-details-header {
    min-height: 310px;
    background: #e4e6e8;
    margin-top: -80px;
}

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb {
        background: transparent;
        padding: 0;
        margin-bottom: 30px;
    }
    .breadcrumb-item {
        font-weight: normal;
        &.active {
            color: #071c4d;
            font-weight: bold;
        }
    }
    .card-details {
        padding: 30px;
        border-radius: 11px;
        h1 {
            font-size: 25px;
        }
        h2 {
            font-weight: 600;
            font-size: 20px;
        }
        h3 {
            font-weight: 600;
            font-size: 16px;
            color: #071c4d;
        }
        p {
            font-size: 16px;
            color: #b1b1b1;
        }
        .trip-informations {
            th {
                font-weight: 300;
                font-size: 16px;
                color: #071c4d;
            }
            td {
                font-weight: 300;
                font-size: 16px;
                color: #b1b1b1;
            }
            .text-blue {
                color: #071c4d;
                font-weight: bold;
            }
            .text-orange {
                color: orange;
                font-weight: bold;
            }
        }
        .payment-instructions {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }
        .bank {
            .bank-item {
                h3 {
                    font-weight: normal;
                    font-size: 18px;
                    color: #071c4d;
                    margin-bottom: 0;
                }
                p {
                    margin-bottom: 0;
                }
                .description {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;
                    p {
                        font-weight: normal;
                        font-size: 16px;
                        color: #071c4d;
                    }
                }
            }
            .bank-image {
                width: 45px;
                height: 45px;
                float: left;
            }
        }
        .disclaimer {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }
        .gj-datepicker {
            .datepicker {
                border-right: 0;
            }
        }
        .input-group-append {
            .btn {
                padding-right: 30px;
            }
        }
        .btn-add-now {
            background-color: #071c4d;
            color: #fff;
            &:hover {
                background-color: #1b3b86;
                color: #fff;
            }
        }
    }
    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .features {
        margin-top: 30px;
        h4 {
            font-size: 18px;
            color: #071c4d;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0;
        }
        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }
        .features-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }
    .gallery {
        .xzoom-container {
            display: block;
            .xzoom {
                width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }
            .xactive {
                border: 4px solid #1abc9c;
                box-shadow: none;
            }
        }
    }
    .join-container {
        margin-top: -16px;
    }
    .btn-join-now {
        background-color: orangered;
        color: #fff;
        border-radius: 0;
        &:hover {
            background-color: rgb(255, 91, 31);
            color: #fff;
        }
    }
}

.section-success {
    height: 90vh;
    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
    }
    p {
        font-weight: normal;
        font-size: 18px;
        color: #b1b1b1;
    }
    .btn-home-page {
        border-radius: 4px;
        background-color: #071c4d;
        color: #fff;
        &:hover {
            background-color: #1b3b86;
            color: #fff;
        }
    }
}